* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #777;
    background-color: #02121e;
}
  
.transparent-header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000; 
}
  
.transparent-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.transparent-header h1 {
    color: #fff; 
}
  
.transparent-header nav ul {
    list-style: none;
}
  
.transparent-header nav ul li {
    display: inline-block;
    margin-right: 20px;
}
  
.transparent-header nav ul li a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease-in-out;
}
  
.transparent-header nav ul li a:hover {
    color: #ddd; 
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

#search-container {
    margin: 1em 0;
}

#search-container input {
    background-color: transparent;
    width: 80%;
    border-bottom: 2px solid #fff;
    padding: 0.5em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #fff;
    color: #ffffff;
}

#search-container button{
   padding: 0.5em 0.3em;
   margin-left: 0.3em;
   background-color: #fff;
   border-radius: 8px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 70px; 
}

.filter-buttons button {
    padding: 10px 20px; 
    margin: 0 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f0f0f0; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.filter-buttons button:hover {
    background-color: #e0e0e0; 
}

.fetch-container { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.container { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.item-container-soccer{
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0,0,0, o.15);
    cursor: pointer;
}

.item-container-basketball{
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0,0,0, o.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 100%;
    height: 70%; 
}

.body-container {
    position: relative;
}

.overlay{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container-soccer:hover .overlay {
    opacity: 1;
    height: 150px;
}

.item-container-basketball:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title,
.price {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1x;
    margin: 12px;
}

.info{
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container-soccer:hover .action{
    top: 50px;
}

.item-container-basketball:hover .action{
    top: 50px;
}

.action:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
